.streamlit
.streamlit/
**/*.vscode
**/*.vscode/
**/*.vscode/*
.DS_STORE
*.sql
*.ipynb
app.ipynb
**/*.ipynb_checkpoints/
.pyc
__pycache__/
__pycache__
tools/__pycache__/
tools/__pycache__
.vscode/settings.json
app.ipynb
data/
*data/
*data/*
.mypy_cache
